/* Reglas para dispositivos móviles */
@media (max-width: 768px) {

  /* Centra el contenido en la pantalla */
  .main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section {
    width: 100%;
    padding: 10px;
    /* Reducir el espacio en el texto para dispositivos móviles */
  }

  .bicicletas-contenedor {
    width: 100%;
  }

  .bicicleta {
    width: 100%;
    max-width: none;
    margin: 0 auto;
  }

  .bicicleta img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}

/* Reglas para pantallas de PC */
@media (min-width: 769px) {
  .main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  /* Para evitar que las imágenes se salgan de la pantalla */
  .bicicletas-contenedor {
    width: 100%;
    overflow-x: hidden;
  }

  .bicicleta {
    width: 33.33%;
    margin: 0 20px;
  }
}